@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.section {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/none/none/man.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 85%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
  padding: 20px;
}
.header h1 {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  /* margin-top: 20px; */
}
.header ul {
  display: flex;
  /* margin-top: 20px; */
}
.header ul li {
  list-style: none;
  padding: 0 10px;
}
.header ul li a {
  text-decoration: none;
  color: rgb(85, 52, 52);
  letter-spacing: 1px;
  margin-right: 15px;
  padding: 10px 15px;
}
.header ul li a:hover {
  background-color: #dd5858;
  opacity: 1s;
  border-radius: 4px;
}
.art {
  min-height: 100vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.art h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.art p {
  font-size: 40px;
  margin-bottom: 25px;
}
.art a {
  text-decoration: none;
  background-color: rgb(61, 63, 62);
  font-size: 26px;
  color: wheat;
  text-transform: uppercase;
  padding: 6px 10px;
  letter-spacing: 1.5px;
}
